<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuite>
        <directory>../tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>