<?php

$config = array(
    'broker' => 'yourMqttBroker.tld:1883',
    'options' => new \oliverlorenz\reactphpmqtt\packet\ConnectionOptions(array(
        'keepAlive' => 120,
    )),
);

return $config;
