<?php

$config = array(
    'server' => 'yourMqttBroker.tld',
    'port' => 1883,
    'options' => new \oliverlorenz\reactphpmqtt\packet\ConnectionOptions(array(
        'keepAlive' => 120,
    )),
);

return $config;
